In [1]:
#note the example data may be formatted differently from the actual data and might not work 
#unless data of the correct format is used.

#ExampleDataC can be found at
#https://www.sciencedirect.com/science/article/pii/S0360544216311744?via%3Dihub

#this script fills in any empty cells in the provided data

import os
import xlrd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import datetime

In [2]:
#import the RadCam Electricity Half hour data

x = pd.read_csv("C:\\Users\\Michael\\OneDrive - Nexus365\\LEO\\3YP Coding\\Electricity Modelling\\ExampleDataC.csv",)
#x['Date']=df['Date'].astype(str)
x['Date'] = pd.to_datetime(x['Date'], format='%d/%m/%Y')
x.head(550500)

,Date,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,24:00:00
0,2016-11-12,3.0,4.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,...,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0,3.0,4.0
1,2016-11-13,3.0,4.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,...,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0
2,2016-11-14,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,22.0,21.0,22.0,22.0,21.0,18.0,5.0,4.0,3.0,3.0
3,2016-11-15,4.0,3.0,3.0,4.0,3.0,3.0,4.0,3.0,3.0,...,22.0,21.0,20.0,19.0,21.0,19.0,6.0,3.0,4.0,3.0
4,2016-11-16,4.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,4.0,...,22.0,21.0,21.0,22.0,20.0,17.0,6.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,2020-11-06,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,5.0,...,18.0,21.0,21.0,20.0,7.0,6.0,5.0,5.0,6.0,3.0
1456,2020-11-07,5.0,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,...,6.0,5.0,5.0,6.0,6.0,4.0,6.0,5.0,5.0,4.0
1457,2020-11-08,5.0,3.0,4.0,5.0,3.0,5.0,4.0,3.0,5.0,...,5.0,5.0,6.0,5.0,6.0,6.0,4.0,5.0,4.0,4.0
1458,2020-11-09,4.0,4.0,4.0,5.0,5.0,4.0,4.0,5.0,4.0,...,19.0,21.0,22.0,20.0,8.0,5.0,6.0,4.0,5.0,5.0
1459,2020-11-10,4.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,...,21.0,18.0,21.0,20.0,8.0,5.0,5.0,4.0,4.0,4.0

In [3]:
#rejects values above 100
mask = x.loc[:, x.columns != 'Date'] <100
df = x.drop('Date',  axis=1)
df = df[mask]
Date = x['Date']
df.insert(0, 'Date', Date)

#replace any zeros in the dataframe with nan
df.replace(0, np.nan, inplace=True)

In [4]:
#create a dummy dataframe with all the correct dates in

dum = pd.date_range(start='2016-11-12', end='2020-11-10').strftime('%d/%m/%Y')
dummy = pd.DataFrame(dum)   
dummy.columns = ['Date']
dummy['00:30'],dummy ['01:00'],dummy ['01:30'],dummy ['02:00'],dummy ['02:30'],dummy ['03:00'],dummy ['03:30'],dummy ['04:00'],dummy ['04:30'],dummy ['05:00'],dummy ['05:30'],dummy ['06:00'],dummy ['06:30'],dummy ['07:00'],dummy ['07:30'],dummy ['08:00'],dummy ['08:30'],dummy ['09:00'],dummy ['09:30'],dummy ['10:00'],dummy ['10:30'],dummy ['11:00'],dummy ['11:30'],dummy ['12:00'],dummy ['12:30'],dummy ['13:00'],dummy ['13:30'],dummy ['14:00'],dummy ['14:30'],dummy ['15:00'],dummy ['15:30'],dummy ['16:00'],dummy ['16:30'],dummy ['17:00'],dummy ['17:30'],dummy ['18:00'],dummy ['18:30'],dummy ['19:00'],dummy ['19:30'],dummy ['20:00'],dummy ['20:30'],dummy ['21:00'],dummy ['21:30'],dummy ['22:00'],dummy ['22:30'],dummy ['23:00'],dummy ['23:30'],dummy ['24:00:00'] = np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan
dummy['Date'] = pd.to_datetime(dummy['Date'], format='%d/%m/%Y')
dummy.head(1000000)

,Date,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,24:00:00
0,2016-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,2020-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,2020-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,2020-11-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1458,2020-11-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,2020-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#rejects values above 100
mask = x.loc[:, x.columns != 'Date'] <100

df = x.drop('Date',  axis=1)
df = df[mask]
Date = x['Date']
df.insert(0, 'Date', Date)

In [6]:
#replace any zeros in the dataframe with nan
df.replace(0, np.nan, inplace=True)

In [7]:
#merge the two datasets so all dates are now included

ndf = pd.merge(df, dummy, how='right', on='Date')